<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12">
      <ng-container *ngIf="chartData.length; else noData">
        <p>{{ 'STATISTICS.CATEGORIES_CHART_DESCRIPTION' | translate }}:</p>
          <canvas baseChart
                  [data]="chartData"
                  [labels]="chartLabels"
                  [chartType]="chartType"
                  [colors]="chartColors"
                  [options]="chartOptions">
          </canvas>
      </ng-container>
      <ng-template #noData><p class="center-text">{{ 'STATISTICS.NO_DATA' | translate }}</p></ng-template>
    </div>
  </div>
</div>