<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12 center-container">

      <lz-form-card *ngIf="!(isLoading | async)">
        <h2>Log In</h2>
        <form [formGroup]="logInForm" (ngSubmit)="logIn()">
          <mat-form-field class="full-width">
            <mat-icon matPrefix>email</mat-icon>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="logInForm.get('email').invalid">Email is not valid.</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width medium-bottom-margin">
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="logInForm.get('password').invalid">Password is not valid.</mat-error>
          </mat-form-field>

          <div class="buttons">
            <button mat-stroked-button color="primary" type="button" (click)="goToSignUp()">Sign Up</button>
            <button mat-flat-button color="primary" [disabled]="!logInForm.valid" type="submit">Log In</button>
          </div>
        </form>
      </lz-form-card>

      <mat-spinner *ngIf="isLoading | async"></mat-spinner>

    </div>
  </div>
</div>