<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12 center-container">

      <lz-form-card>
        <form [formGroup]="incomeForm" #income="ngForm" (ngSubmit)="addIncome()">
          <mat-form-field class="full-width">
            <mat-icon matPrefix>money</mat-icon>
            <input matInput placeholder="Value" formControlName="value" type="number" min="0" required>
            <mat-hint>Value must be greater than 0</mat-hint>
            <mat-error *ngIf="incomeForm.get('value').invalid">Value is not valid.</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width medium-bottom-margin">
            <mat-icon matPrefix>create</mat-icon>
            <input matInput placeholder="Description" formControlName="description" #description maxlength="50" type="text">
            <mat-hint align="start">Max 50 characters</mat-hint>
            <mat-hint align="end">{{description.value.length}} / 50</mat-hint>
            <mat-error *ngIf="incomeForm.get('description').invalid">Description is not valid</mat-error>
          </mat-form-field>

          <div class="buttons">
            <button mat-flat-button color="primary" [disabled]="!incomeForm.valid" type="submit">Add</button>
          </div>
        </form>
      </lz-form-card>

    </div>
  </div>
</div>