<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12 center-container">

      <lz-form-card>
        <form [formGroup]="settingsForm">
          <mat-form-field class="full-width">
            <mat-icon matPrefix>language</mat-icon>
            <mat-select placeholder="{{ 'CORE.LANGUAGE' | translate }}" formControlName="language">
              <mat-option value="pl">Polski</mat-option>
              <mat-option value="en">English</mat-option>
            </mat-select>
            <mat-hint>{{ 'CORE.CHOOSE_LANGUAGE' | translate }}</mat-hint>
          </mat-form-field>
        </form>
      </lz-form-card>

    </div>
  </div>
</div>