<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12">

      <mat-card class="day" *ngFor="let day of combinedFinances">
        <mat-card-header>
          <mat-icon class="main-icon" mat-card-avatar>event_note</mat-icon>
          <mat-card-title>{{day.date}}</mat-card-title>
          <mat-card-subtitle>{{day.dayResult}} zł</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
          <div class="value" *ngFor="let value of day.finances">
              <button class="value__type" mat-mini-fab disabled>
                <mat-icon>{{ financeIcon(value.category) }}</mat-icon>
              </button>
              <p class="value__amount">{{ valueSign(value.category) }}{{value.value}} zł</p>

              <p class="value__description">{{value.description}}</p>
              <button mat-mini-fab>
                <mat-icon aria-label="Remove icon" (click)="removeFinance(value._id, value.category)">clear</mat-icon>
              </button>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="center-container" *ngIf="!combinedFinances.length && !isLoading">
        <p class="center-text">History is empty, please add a new income/expense.</p>
      </div>

    </div>
  </div>
</div>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>