<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12 center-container">

      <lz-form-card>
        <form [formGroup]="dataForm" #dataF="ngForm" (ngSubmit)="addData()">
          <mat-form-field class="full-width">
            <mat-icon matPrefix>flag</mat-icon>
            <mat-select placeholder="{{ 'COMMON.TYPE' | translate }}" formControlName="dataType" required>
              <mat-option value="expense">{{ 'COMMON.EXPENSE' | translate }}</mat-option>
              <mat-option value="income">{{ 'COMMON.INCOME' | translate }}</mat-option>
            </mat-select>
            <mat-hint>{{ 'ADD_DATA.DATA_TYPE_HINT' | translate }}</mat-hint>
            <mat-error *ngIf="dataForm.get('dataType').invalid">{{ 'ADD_DATA.DATA_TYPE_ERROR' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-icon matPrefix>money</mat-icon>
            <input matInput placeholder="{{ 'COMMON.VALUE' | translate }}" formControlName="value" type="number" min="0"
                   required>
            <mat-hint>{{ 'ADD_DATA.VALUE_HINT' | translate }}</mat-hint>
            <mat-error *ngIf="dataForm.get('value').invalid">{{ 'ADD_DATA.VALUE_ERROR' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" *ngIf="dataForm.get('dataType').value === 'expense'">
            <mat-icon matPrefix>poll</mat-icon>
            <mat-select placeholder="{{ 'COMMON.CATEGORY' | translate }}" formControlName="category" required>
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{ category.viewKey | translate }}
              </mat-option>
            </mat-select>
            <mat-hint>{{ 'ADD_DATA.CATEGORY_HINT' | translate }}</mat-hint>
            <mat-error *ngIf="dataForm.get('category').invalid">{{ 'ADD_DATA.CATEGORY_ERROR' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width medium-bottom-margin">
            <mat-icon matPrefix>create</mat-icon>
            <input matInput placeholder="{{ 'COMMON.DESCRIPTION' | translate }}" formControlName="description"
                   type="text" #description maxlength="50">
            <mat-hint align="start">{{ 'ADD_DATA.DESCRIPTION_HINT' | translate }}</mat-hint>
            <mat-hint align="end">{{description.value.length}} / 50</mat-hint>
            <mat-error *ngIf="dataForm.get('description').invalid">{{ 'ADD_DATA.DESCRIPTION_ERROR' | translate }}</mat-error>
          </mat-form-field>

          <div class="buttons">
            <button mat-flat-button color="primary" [disabled]="!dataForm.valid" type="submit">{{ 'COMMON.ADD' | translate }}</button>
          </div>
        </form>
      </lz-form-card>
    </div>
  </div>
</div>
