<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12">
      <div class="logo"></div>
      <h1>Finance Ninja App (Beta)</h1>
      <p>App that allows you to manage easily your home budget.</p>
    </div>
    <div class="lz-row">
      <div class="lz-col-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet ducimus ex facilis fugit hic
          inventore ipsum iste labore minima nesciunt odit perspiciatis quae tenetur vel vero vitae? Ipsum,
          temporibus.</p>
      </div>
      <div class="lz-col-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur debitis excepturi illum laudantium,
          libero magnam molestiae nemo nobis officia placeat porro quae, quas quasi quibusdam quis recusandae rem
          suscipit voluptatum.</p>
      </div>
    </div>
  </div>
</div>