<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12">
      <div class="logo"></div>
      <h1>Finance Ninja (Beta)</h1>
      <p>Micro app that allows you to manage easily your home budget.</p>
    </div>
    <div class="lz-row">
      <div class="lz-col-6">
        <p>Finance Ninja is here to help you track your daily expenses and incomes. You can use it on both mobile devices and desktop versions so no other tool is needed. Just add some data to see daily results. App offers support for analysis of your expenses including charts.</p>
      </div>
      <div class="lz-col-6">
        <p>Key Features:</p>
        <ul>
          <li>Expesnes | Incomes
            <ul>
              <li>Add and remove</li>
            </ul>
          </li>
          <li>History
            <ul>
              <li>Check your data and see summary</li>
            </ul>
          </li>
          <li>
            Statistics
            <ul>
              <li>Nice looking chart for better overview</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>