<div class="lz-container">
  <div class="lz-row">
    <div class="lz-col-12">
      <h1>Finance Ninja</h1>
      <p>{{ 'HOME.SHORT_DESCRIPTION' | translate }}</p>
    </div>
    <div class="lz-row">
      <div class="lz-col-6">
        <p>{{ 'HOME.LONG_DESCRIPTION' | translate }}</p>
      </div>
      <div class="lz-col-6">
        <p>Key Features:</p>
        <ul>
          <li>Expesnes | Incomes
            <ul>
              <li>Add and remove</li>
            </ul>
          </li>
          <li>History
            <ul>
              <li>Check your data and see summary</li>
            </ul>
          </li>
          <li>
            Statistics
            <ul>
              <li>Nice looking chart for better overview</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>