<mat-card class="example-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>{{ account.isAdmin ? 'supervised_user_circle' : 'account_circle' }}</mat-icon>
    <mat-card-title>{{account.email}}</mat-card-title>
    <mat-card-subtitle>{{ (account.isAdmin ? 'ADMIN_PANEL.ADMIN' : 'ADMIN_PANEL.USER') | translate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      <p>{{ 'COMMON.EXPENSES' | translate }}: {{account.expenses.length}}</p>
      <p>{{ 'COMMON.INCOMES' | translate }}: {{account.incomes.length}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="accent" (click)="removeUser(account._id)">{{ 'COMMON.REMOVE' | translate }}</button>
  </mat-card-actions>
</mat-card>