@import 'assets/styles/grid';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.full-width {
  width: 100%;
}

.small-bottom-margin {
  margin-bottom: 0.5rem;
}

.medium-bottom-margin {
  margin-bottom: 1rem;
}

.large-bottom-margin {
  margin-bottom: 2rem;
}