@import 'assets/styles/grid';
@import 'assets/styles/logo';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
button:focus {outline:0;}

.full-width {
  width: 100%;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.small-bottom-margin {
  margin-bottom: 0.5rem;
}

.medium-bottom-margin {
  margin-bottom: 1rem;
}

.large-bottom-margin {
  margin-bottom: 2rem;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.lz-icon {
  font-size: 20px;
  &--button {
    color: rgba(0,0,0,.54);
    margin-right: 16px;
  }
}